body {
    background-color: #ffffff;
}

.row {
    display: flex;
}


/* Create two equal columns that sits next to each other */

.column {
    flex: 50%;
    padding: 10px;
    /* Should be removed. Only for demonstration */
}