{% extends "templates/index.html" %} {% block title %} Solar HET {% endblock %}{% block main %}
<div class="container">
    <h1>
        SOLAR HET
    </h1>
    <p>
        In this program we focus on presenting a software developed for theorical calculations of Heterojunction Thin Film Solar Cells (HTFSC) the results includes graphics of Efficiency, FF, Voc and Jsc values in function of the Energy Band Gap and the Thickness
        of the Absorbent Layer. It's necesary to know the next values for run the simulation, you can consultate the instruction file or write a mail with yours doubts.
    </p>
</div>

{% endblock %} {% block script %}{% endblock %}